## Book Recommendation

Dataset url: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

#### About the dataset:
The Book-Crossing dataset comprises 3 tables.

**BX-Users**
Contains the users. Note that user IDs (`User-ID`) have been anonymized and map to integers. Demographic data is provided (`Location`, `Age`) if available. Otherwise, these fields contain NULL-values.

**BX-Books**
Books are identified by their respective ISBN. Invalid ISBNs have already been removed from the dataset. Moreover, some content-based information is given (`Book-Title`, `Book-Author`, `Year-Of-Publication`, `Publisher`), obtained from Amazon Web Services. Note that in case of several authors, only the first is provided. URLs linking to cover images are also given, appearing in three different flavours (`Image-URL-S`, `Image-URL-M`, `Image-URL-L`), i.e., small, medium, large. These URLs point to the Amazon web site.

**BX-Book-Ratings**
Contains the book rating information. Ratings (`Book-Rating`) are either explicit, expressed on a scale from 1-10 (higher values denoting higher appreciation), or implicit, expressed by 0.

In [1]:
# importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
books = pd.read_csv('BX-Books.csv', sep = ';', error_bad_lines = False, encoding = "latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('BX-Users.csv', sep = ';', error_bad_lines = False, encoding = "latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('BX-Book-Ratings.csv', sep = ';', error_bad_lines = False, encoding = "latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Md Atiullah Khan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3156: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
books.head(2)

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
users.head(2)

   userID                   Location   Age
0       1         nyc, new york, usa   NaN
1       2  stockton, california, usa  18.0

In [5]:
ratings.head(2)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5

In [6]:
books.shape, users.shape, ratings.shape

((271360, 8), (278858, 3), (1149780, 3))

`kNN` is a machine learning algorithm to find clusters of similar users based on common book ratings, and make predictions using the average rating of top-k nearest neighbors. For example, we first present ratings in a matrix with the matrix having one row for each item (book) and one column for each user.

To ensure statistical significance, users with less than 200 ratings, and books with less than 100 ratings are excluded.

In [7]:
userRatings = ratings['userID'].value_counts()
ratings = ratings[ratings['userID'].isin(userRatings[userRatings >= 200].index)]
counts = ratings['bookRating'].value_counts()
ratings = ratings[ratings['bookRating'].isin(counts[counts >= 100].index)]

In [8]:
df_booksRatings = pd.merge(ratings, books, on = 'ISBN')
columns = ['yearOfPublication', 'publisher', 'bookAuthor', 'imageUrlS', 'imageUrlM', 'imageUrlL']
df_booksRatings = df_booksRatings.drop(columns, axis = 1)
df_booksRatings.head()

,userID,ISBN,bookRating,bookTitle
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...

In [9]:
df_booksRatings[df_booksRatings.bookTitle == 'Always Have Popsicles']

Empty DataFrame
Columns: [userID, ISBN, bookRating, bookTitle]
Index: []

In [10]:
# We then group by book titles and create a new column for total rating count.

df_booksRatings = df_booksRatings.dropna(axis = 0, subset = ['bookTitle'])

df_bookRatingCount = (df_booksRatings.groupby(by = ['bookTitle'])['bookRating'].count().
                      reset_index().rename(columns = {'bookRating': 'totalRatingCount'})[['bookTitle', 'totalRatingCount']])
df_bookRatingCount.head()

                                           bookTitle  totalRatingCount
0   A Light in the Storm: The Civil War Diary of ...                 2
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Beyond IBM: Leadership Marketing and Finance ...                 1
4   Clifford Visita El Hospital (Clifford El Gran...                 1

In [11]:
# We combine the rating data with the total rating count data, this gives us exactly what we need to find out which books are popular 
# and filter out lesser-known books.

df_ratingTotalCount = df_booksRatings.merge(df_bookRatingCount, left_on = 'bookTitle', right_on = 'bookTitle', how = 'left')
df_ratingTotalCount.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,82

In [12]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(df_bookRatingCount['totalRatingCount'].describe())

count   160576.000
mean         3.044
std          7.428
min          1.000
25%          1.000
50%          1.000
75%          2.000
max        365.000
Name: totalRatingCount, dtype: float64

In [13]:
# The median book has been rated only once. Let’s look at the top of the distribution

print(df_bookRatingCount['totalRatingCount'].quantile(np.arange(.9, 1, .01)))

0.900    5.000
0.910    6.000
0.920    7.000
0.930    7.000
0.940    8.000
0.950   10.000
0.960   11.000
0.970   14.000
0.980   19.000
0.990   31.000
Name: totalRatingCount, dtype: float64

In [14]:
popularity_threshold = 50
df_ratingPopBook = df_ratingTotalCount.query('totalRatingCount >= @popularity_threshold')
df_ratingPopBook.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,82

In [15]:
df_ratingPopBook.shape

(62149, 5)

In [16]:
df_userBookRating = df_ratingPopBook.merge(users, left_on = 'userID', right_on = 'userID', how = 'left')
df_userBookRating.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location,Age
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,82,"gilbert, arizona, usa",48.000
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,82,"knoxville, tennessee, usa",29.000
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,82,"n/a, n/a, n/a",NaN
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,82,"byron, minnesota, usa",18.000
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,82,"cordova, tennessee, usa",32.000

In [17]:
df_userBookRating['Location'].unique()

array(['gilbert, arizona, usa', 'knoxville, tennessee, usa',
       'n/a, n/a, n/a', 'byron, minnesota, usa',
       'cordova, tennessee, usa', 'mechanicsville, maryland, usa',
       'palos hills, illinois, usa', 'nj, new jersey, usa',
       'hickory, mississippi, usa', 'south ohio, nova scotia, canada',
       'charleston, south carolina, usa', 'jasper, missouri, usa',
       'orlando, florida, usa', 'toronto, ontario, canada',
       'florence, alabama, usa', 'livermore, california, usa',
       'chamblee, georgia, usa', 'alvin, texas, usa',
       'valley center, kansas, usa',
       'atlantic highlands, new jersey, usa', 'lisboa, lisboa, portugal',
       'tigard, oregon, usa', 'washington, dc, usa',
       'nashville, tennessee, usa',
       'christchurch, canterbury, new zealand', 'houston, texas, usa',
       'kirkland, washington, usa', 'albuquerque, new mexico, usa',
       'lakewood, washington, usa', 'evanston, illinois, usa',
       'north vancouver, british columbia, canada',
       'north reading, massachusetts, usa',
       'southampton, england, united kingdom',
       'bellingham, washington, usa', 'west valley city, utah, usa',
       'greencastle, pennsylvania, usa', 'seattle, washington, usa',
       'atlantic beach, florida, usa', 'new berlin, wisconsin, usa',
       'gaithersburg, maryland, usa', 'rainsville, alabama, usa',
       'greensboro, north carolina, usa', 'chicago, illinois, usa',
       'hamilton, ohio, usa', 'st. louis, missouri, usa',
       'freehold, new jersey, usa', 'greenville, texas, usa',
       'columbus (grandview heights), ohio, usa', 'omaha, nebraska, usa',
       'winnemucca, nevada, usa', 'edmonton, alberta, canada',
       'ramona, california, usa', 'disputanta, virginia, usa',
       'little canada, minnesota, usa', 'burlington, ontario, canada',
       'vancouver, british columbia, canada',
       'simi valley, california, usa',
       'felixstowe, suffolk, united kingdom', 'pueblo, colorado, usa',
       'san francisco, california, usa', 'lincoln, nebraska, usa',
       'kensington, california, usa', 'glen rock, pennsylvania, usa',
       'firenze, toscana, italy', 'griswold, iowa, usa',
       'louisville, kentucky, usa', 'ann arbor, michigan, usa',
       'columbus, ohio, usa', 'los angeles, california, usa',
       'portela de sacavém, loures, portugal',
       'morrisville, north carolina, usa', 'new york, new york, usa',
       'reston, virginia, usa', 'atlanta, georgia, usa',
       'minneapolis, minnesota, usa', 'wahiawa, hawaii, usa',
       'sunnyvale, california, usa', 'harrisburg, pennsylvania, usa',
       'little rock, arkansas, usa', 'puchong, selangor, malaysia',
       'katonah, new york, usa', 'fresno, california, usa',
       'san jose, california, usa', 'lynbrook, new york, usa',
       'henryville, indiana, usa', 'west columbia, south carolina, usa',
       'duluth, minnesota, usa', 'san marcos, california, usa',
       'raleigh, north carolina, usa', 'dunnville, ontario, canada',
       'fairless hills, pennsylvania, usa',
       'oklahoma city, oklahoma, usa', 'tucson, ,',
       'san antonio, texas, usa', 'lemon grove, california, usa',
       'monroe, ,', 'boston, massachusetts, usa',
       'chesterfield, derbyshire, united kingdom',
       'eufaula, alabama, usa', 'northwest, iowa, usa',
       'bad axe, michigan, usa', 'mooresville, north carolina, usa',
       'st. john`s, ontario, canada', 'crescent city, florida, usa',
       'chantilly, virginia, usa', 'fairbanks, alaska, usa',
       'chisholm, minnesota, usa', 'victoria, british columbia, canada',
       'sydney, new south wales, australia', 'lexington, kentucky, usa',
       'glasgow, scotland, united kingdom',
       'new westminster, british columbia, canada',
       'baton rouge, louisiana, usa', 'manchester, new hampshire, usa',
       'plainfield, illinois, usa', 'olympia, washington, usa',
       'brainerd, minnesota, usa', 'oakland, california, usa',
       'tarentum, pennsylvania, usa', 'greenfield, wisconsin, usa',
       'milpitas, california, usa', 'barren springs, virginia, usa',
       'kitchener, ontario, canada', 'pleasanton, california, usa',
       'baltimore, maryland, usa', 'edinburg, texas, usa',
       'temple, texas, usa', 'sherman oaks, california, usa',
       'ramah, new mexico, usa', 'elmira, new york, usa',
       'kansas city, missouri, usa', 'marietta, georgia, usa',
       'summerville, south carolina, usa', 'ellington, connecticut, usa',
       'ft. pierce, florida, usa', 'potomac falls, virginia, usa',
       'fair oaks, california, usa', 'crest hill, illinois, usa',
       'enterprise, oregon, usa', 'winnipeg, manitoba, canada',
       'london, england, united kingdom', 'dove canyon, california, usa',
       'storm lake, iowa, usa', 'detroit, michigan, usa',
       'madison, new jersey, usa', 'greenville, illinois, usa',
       'taneytown, maryland, usa', 'ashland, missouri, usa',
       'creston, british columbia, canada', 'grapeview, washington, usa',
       'lake worth, florida, usa', 'cumming, georgia, usa',
       'vista, california, usa', 'mountain view, california, usa',
       'franconia, virginia, usa', 'rock island, illinois, usa',
       'st. petersburg, florida, usa', 'southgate, michigan, usa',
       'colorado springs, colorado, usa', 'waianae, hawaii, us',
       'romney, west virginia, usa', 'encino, california, usa',
       'mars, pennsylvania, usa', 'yucca valley, california, usa',
       'leuven, vlaams-brabant, belgium', 'elk  city, oklahoma, usa',
       'portland, maine, usa', 'montreal, quebec, canada',
       'maryville, tennessee, usa', 'fpo, ap, usa', 'austin, texas, usa',
       'upper township, new jersey, usa', 'elsmere, kentucky, usa',
       'bloomsburg, pennsylvania, usa', 'calgary, alberta, canada',
       'st. paul, minnesota, usa', 'mt. airy, , usa',
       'cincinnati, ohio, usa', 'morris plains, new jersey, usa',
       'antioch, illinois, usa', 'monroe twp., new jersey, usa',
       'coburg, oregon, usa', 'san ramon, california, usa',
       'sacramento, california, usa', 'pawtucket, rhode island, usa',
       'honolulu, hawaii, usa', 'miami, florida, usa',
       'charleston, west virginia, usa', 'milwaukee, wisconsin, usa',
       'nicholasville, kentucky, usa', 'wiley ford, west virginia, usa',
       'dekalb, illinois, usa', 'kamuela, hawaii, usa',
       'mount vernon, new york, usa', 'tallahassee, florida, usa',
       'durham, north carolina, usa',
       'governors bay, canterbury, new zealand',
       'tazewell, virginia, usa', 'olney, maryland, usa',
       'spring, texas, usa', 'ottawa, ontario, canada',
       'blythewood, south carolina, usa',
       'nottingham, england, united kingdom',
       'campbellsport, wisconsin, usa', 'portland, oregon, usa',
       'howell, new jersey, usa', 'oceanside, california, usa',
       'astoria, oregon, usa', 'holybourne, england, united kingdom',
       'coventry, england, united kingdom', 'ginsheim, hessen, germany',
       'jefferson, wisconsin, usa', 'frodsham, england, united kingdom',
       'columbia, maryland, usa', 'rockaway, new jersey, usa',
       'kelseyville, california, usa', 'carrollton, texas, usa',
       'sydenham, london, england, united kingdom',
       'strafford, missouri, usa', 'owings mills, maryland, usa',
       'providence, rhode island, usa', 'woodbridge, virginia, usa',
       'wildwood, new jersey, usa', 'barnhart, missouri, usa',
       'st. marys, georgia, usa', 'lake mary, florida, usa',
       'buffalo, minnesota, usa', 'abilene, texas, usa',
       'cottage grove, oregon, usa', 'arcata, california, usa',
       'farmington hills, michigan, usa', 'saint clair, michigan, usa',
       'youngstown, ohio, usa', 'altoona, iowa, usa',
       'asheville, north carolina, usa', 'rapid city, south dakota, usa',
       'highland, california, usa', 'brampton, ontario, canada',
       'cary, north carolina, usa', 'ft. stewart, georgia, usa',
       'dripping springs, texas, usa', 'mesa, arizona, usa',
       'kelso, washington, usa', 'milton, ontario, canada',
       'round rock, texas, usa', 'moberly, missouri, usa',
       'kingston, washington, usa', 'savannah, georgia, usa',
       'tucson, arizona, usa', 'new orleans, louisiana, usa',
       'carmichael, california, usa', 'rowland heights, california, usa',
       'overland park, kansas, usa', 'st louis, missouri, usa',
       'st kilda, victoria, australia', 'gilroy, california, usa',
       'muskego, wisconsin, usa', 'belton, texas, usa',
       'renton, washington, usa', 'catawba, wisconsin, usa',
       'fair haven, michigan, usa', 'alexandria, virginia, usa',
       'pittsburgh, pennsylvania, usa', 'el cajon, california, usa',
       'clemson, south carolina, usa', 'olathe, kansas, usa',
       'hayward, california, usa', 'torrance, california, usa',
       'n/a, surrey, united kingdom', 'sturgis, michigan, usa',
       'syracuse, new york, usa', 'shanghai, shanghai, china',
       'keizer, oregon, usa', 'irvine, california, usa',
       'beaverton, oregon, usa', 'fredericton, new brunswick, canada',
       'high river, alberta, canada', 'perry, new york, usa',
       'chesapeake, virginia, usa', 'melbourne, florida, usa',
       'scarborough, maine, usa', 'albuquerque, ,',
       'saint louis, missouri, usa', 'long beach, california, usa',
       'whitney, texas, usa', 'duncansville, pennsylvania, usa',
       'cumberland, maryland, usa', 'red deer, alberta, canada',
       'san diego, california, usa', 'lafayette, indiana, usa',
       'hendersonville, north carolina, usa',
       'maryland heights, missouri, usa',
       'citrus heights, california, usa', 'deland, florida, usa',
       'seixal, setúbal, portugal', 'west chester, pennsylvania, usa',
       'nunspeet, gelderland, netherlands', 'mclean, virginia, usa',
       'roanoke, virginia, usa', 'morro bay, california, usa',
       'tampa, florida, usa', 'hoover, alabama, usa',
       'westerville, ohio, usa', 'paynesville, , usa',
       'frisco, texas, usa', 'burien, washington, usa',
       'newbury park, california, usa', 'columbiana, alabama, usa',
       'escondido, california, usa', 'indianapolis, indiana, usa',
       'west kensington, london, united kingdom',
       'hull, england, united kingdom', 'stamford, connecticut, usa',
       'westport, connecticut, usa', 'modesto, california, usa',
       'eastbourne, england, united kingdom', 'lakewood, colorado, usa',
       'albany, california, usa', 'kajang, selangor, malaysia',
       'chula vista, california, usa', 'dunedin, otago, new zealand',
       'las vegas, nevada, usa', 'lawrenceville, georgia, usa',
       'west sacramento, california, usa',
       'pinehurst, north carolina, usa', 'fort worth, texas, usa',
       'hamburg, hamburg, germany', 'baker city, oregon, usa',
       'bay area, california, usa', 'fulton, missouri, usa',
       'middletown, connecticut, usa',
       'deventer, overijssel, netherlands', 'bonaire, georgia, usa',
       'são paulo, são paulo, brazil', 'oxford, connecticut, usa',
       'butler, pennsylvania, usa', 'amarillo, texas, usa',
       'macomb, michigan, usa', 'decatur, georgia, usa',
       'iasi, iasi, romania', 'new britain, connecticut, usa',
       'wilmington, north carolina, usa', 'dumont, new jersey, usa',
       'oakdale, california, usa', 'bridgeton, new jersey, usa',
       'hawthorne, new jersey, usa', 'forest grove, oregon, usa',
       'boise, idaho, usa', 'slippery rock, pennsylvania, usa',
       'mcqueeney, texas, usa', 'melbourne, victoria, australia',
       'brooklyn, new york, usa', 'orem, utah, usa',
       'tulsa, oklahoma, usa', 'wallingford, connecticut, usa',
       'cleveland, ohio, usa', 'waterford, michigan, usa',
       'cortez, colorado, usa', 'crystal lake, illinois, usa',
       'peoria, illinois, usa', 'sellersville, pennsylvania, usa',
       'menasha, wisconsin, usa', 'federal way, washington, usa',
       'cliffwood, new jersey, usa', 'ashburn, virginia, usa',
       'temecula, california, usa', 'irving, texas, usa',
       'ona, west virginia, usa', 'delray beach, florida, usa',
       'la mesa, california, usa', 'toulouse, haute-garonne, france',
       'west jordan, utah, usa', 'morrow, georgia, usa',
       'stockholm, stockholm, sweden', 'tehran, tehran, iran',
       'virginia beach, virginia, usa', 'waltham, massachusetts, usa',
       'hobe sound, florida, usa', 'palmetto bay, florida, usa',
       'destrehan, louisiana, usa', 'wake forest, north carolina, usa',
       'glen allen, virginia, usa', 'jacksonville, north carolina, usa',
       'waterloo, ontario, canada', 'zachary, louisiana, usa',
       'ely, england, united kingdom', 'n/a, british columbia, canada',
       'pleasant hill, california, usa', 'omemee, ontario, canada',
       'winter park, florida, usa', 'merrimack, new hampshire, usa',
       'herne bay, england, united kingdom', 'windsor, ontario, canada',
       'greenwood, british columbia, canada',
       'melton mowbray, england, united kingdom',
       'mosinee, wisconsin, usa', 'midland, texas, usa',
       'new albany, indiana, usa', 'carlsbad, california, usa',
       'powys, wales, united kingdom', 'lynnwood, washington, usa',
       'st catharines, ontario, canada', 'apple valley, minnesota, usa',
       'danville, virginia, usa', 'coal township, pennsylvania, usa',
       'traverse city, michigan, usa', 'hackettstown, new jersey, usa',
       'owen sound, ontario, canada', 'saginaw, michigan, usa',
       'huntington beach, california, usa', 'muskegon, michigan, usa',
       'dyersburg, tennessee, usa', 'pittsburg, missouri, usa',
       'paris, tennessee, usa', 'chapel hill, north carolina, usa',
       'palmdale, california, usa',
       'berck sur mer, pas de calais, france', 'phoenix, arizona, usa',
       'sonoma, california, usa', 'homer city, pennsylvania, usa',
       'richland, washington, usa', 'lansdale, pennsylvania, usa',
       'oakwood, georgia, usa', 'morris, connecticut, usa',
       'phoenix, , usa', '., kansas, usa', 'hi nella, new jersey, usa',
       'sioux falls, south dakota, usa', 'fairfield, california, usa',
       'salt lake, utah, usa', 'carneys point, new jersey, usa',
       'hammond, indiana, usa', 'amagansett, new york, usa',
       'derby, england, united kingdom', 'plantersville, texas, usa',
       'rochester, michigan, usa', 'groton, connecticut, usa',
       'round lake, illinois, usa', 'las cruces, new mexico, usa',
       'glendale, colorado, usa', 'vitoria, álava, spain',
       'peoria, arizona, usa', 'springfield, missouri, usa',
       'corvallis, oregon, usa', 'fall river, massachusetts, usa',
       'calais, pas de calais, france',
       'balingup, western australia, australia',
       'ede, gelderland, netherlands', 'new castle, delaware, usa',
       'manistee, michigan, usa', 'lockport, new york, usa',
       'merrick, acworth, new york, georgia, usa',
       'cape girardeau, missouri, usa',
       'perth, western australia, australia',
       'newport news, virginia, usa', 'northbrook, illinois, usa',
       'delta, british columbia, canada',
       'olive branch, mississippi, usa',
       'vadnais heights, minnesota, usa', 'fredericksburg, virginia, usa',
       'adelaide, south australia, australia', 'rantoul, illinois, usa',
       'schertz, texas, usa', 'white haven, pennsylvania, usa',
       'st-légier, vaud, switzerland', 'festus, missouri, usa',
       'canberra, australian capital territory, australia',
       'mississauga, ontario, canada', 'huntsville, alabama, usa',
       'germantown, maryland, usa', 'west bend, wisconsin, usa',
       'higley, arizona, usa', 'mentor, ohio, usa',
       'kingwood, texas, usa', 'oakland, new jersey, usa',
       'espoo, uusimaa, finland', 'tübingen, baden-württemberg, germany',
       'fairview, new mexico, usa', 'nashua, new hampshire, usa',
       'rochester, new york, usa', 'delano, minnesota, usa',
       'brest, bretagne, france', 'plano, texas, usa',
       'santa ana, california, usa', 'chunchula, alabama, usa',
       'santa fe, new mexico, usa', 'york, nebraska, usa',
       'hood river, oregon, usa', 'auburn, alabama, usa',
       'owensboro, kentucky, usa', 'fontana, california, usa',
       'boone county, kentucky, usa', 'saratoga, california, usa',
       'marshfield, wisconsin, usa', 'sugar land, texas, usa',
       'blue springs, missouri, usa', 'gahanna/columbus, ohio, usa',
       'bellwood, pennsylvania, usa',
       'culemborg, gelderland, netherlands',
       'medway, kent, united kingdom', 'sherwood park, alberta, canada',
       'drayton valley, alberta, canada',
       'prince george, british columbia, canada',
       'st. charles, missouri, usa', 'spartanburg, south carolina, usa',
       'warren, michigan, usa', 'watford, england, united kingdom',
       'halifax, nova scotia, canada', 'keller, texas, usa',
       'la ronge, saskatchewan, canada', 'los banos, california, usa',
       'cove, oregon, usa', 'bartlesville, oklahoma, usa',
       'wilmington, massachusetts, usa', 'chandler, arizona, usa',
       'yuba city, california, usa', 'amadora, lisboa, portugal',
       'doha, doha, qatar', 'florissant, missouri, usa',
       'barcelona, catalunya, spain',
       'sant cugat del vallès, catalunya, spain', 'towson, maryland, usa',
       'okahumpka, florida, usa', 'castleton, vermont, usa',
       'covington, virginia, usa', 'elizabeth city, north carolina, usa',
       'almada, setúbal, portugal', 'urbana, illinois, usa',
       'akron, ohio, usa', 'frankston, victoria, australia',
       'croydon, victoria, australia', 'westmont, illinois, usa',
       'sheldon, iowa, usa', 'online, n/a, usa',
       'memphis, tennessee, usa', 'bellevue, washington, usa',
       'manchester, missouri, usa', 'jacksonville, florida, usa',
       'corrales, new mexico, usa', 'anaheim, california, usa',
       'heilbronn, baden-wuerttemberg, germany',
       'independence, missouri, usa', 'menomonie, wisconsin, usa',
       'vienna, vienna, austria', 'wien, wien, austria',
       'madrid, madrid, spain', 'mason, ohio, usa',
       'medford, new york, usa', 'nottingham, maryland, usa',
       'crescent city, california, usa', 'ft myers beach, florida, usa',
       'niles, michigan, usa', 'pasco, washington, usa',
       'leeds, england, united kingdom', 'appleton, wisconsin, usa',
       'yeovil, england, united kingdom', 'geelong, victoria, australia',
       'manchester, connecticut, usa', 'armentia, álava, spain',
       'toccoa, ga., usa', 'wichita, kansas, usa',
       'bethlehem, pennsylvania, usa', 'vinton, virginia, usa',
       'valdosta, georgia, usa', 'newport, rhode island, usa',
       'hyde park, new york, usa', 'orange park, florida, usa',
       'livermore, maine, usa', 'niskayuna, new york, usa',
       'ft huachuca, arizona, usa', 'wolseley, saskatchewan, canada',
       'mcallen, texas, usa', 'cedar rapids, iowa, usa',
       'chicago heights, illinois, usa', 'comanche, texas, usa',
       'asnières, ile de france, france',
       'santo domingo, distrito nacional, dominican republic',
       'browns mills, new jersey, usa', 'middletown, ohio, usa',
       'anchorage, alaska, usa', 'sandpoint, idaho, usa',
       'winter haven, florida, usa', 'o`fallon, missouri, usa',
       'getxo, vizcaya, spain', 'grove city, ohio, usa',
       'dollard des ormeaux, quebec, canada', 'grapevine, texas, usa',
       'mena, arkansas, usa', 'melaka, melaka, malaysia',
       'struthers, ohio, usa', 'heidelberg, baden-württemberg, germany',
       'schiedam, zuid-holland, netherlands',
       'norwich, england, united kingdom', 'tokyo, tokyo, japan',
       'bloomfield hills, michigan, usa', 'muncie, indiana, usa',
       'kuala lumpur, selangor, malaysia', 'chicago, illinois,',
       'mathews, ,', 'forsyth, montana, usa', 'whitehall, ohio, usa',
       'kissimmee, florida, usa', 'madera, california, usa',

##### Filtering cases from USA, Canada, UK, to process data faster

In [18]:
df_locationUserRating = df_userBookRating[df_userBookRating['Location'].str.contains("usa|canada|united kingdom")]
df_locationUserRating = df_locationUserRating.drop('Age', axis=1)
df_locationUserRating.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,82,"gilbert, arizona, usa"
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,82,"knoxville, tennessee, usa"
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,82,"byron, minnesota, usa"
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,82,"cordova, tennessee, usa"
5,16795,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,82,"mechanicsville, maryland, usa"

##### Implementing kNN
We convert our table to a 2D matrix, and fill the missing values with zeros (since we will calculate distances between rating vectors). We then transform the values(ratings) of the matrix dataframe into a scipy sparse matrix for more efficient calculations.

Finding the Nearest Neighbors, we use unsupervised algorithms with `sklearn.neighbors`. The algorithm we use to compute the nearest neighbors is “brute”, and we specify “metric=cosine” so that the algorithm will calculate the cosine similarity between rating vectors. Finally, we fit the model.

In [19]:
from scipy.sparse import csr_matrix

df_locationUserRating = df_locationUserRating.drop_duplicates(['userID', 'bookTitle'])
df_locationUserRatingPivot = df_locationUserRating.pivot(index = 'bookTitle', columns = 'userID', values = 'bookRating').fillna(0)
locationUserRatingMatrix = csr_matrix(df_locationUserRatingPivot.values)

In [20]:
df_locationUserRatingPivot.values

array([[ 9.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0., 10.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [21]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(locationUserRatingMatrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [22]:
queryIndex = np.random.choice(df_locationUserRatingPivot.shape[0])
print(queryIndex)
distances, indices = model_knn.kneighbors(df_locationUserRatingPivot.iloc[queryIndex,:].values.reshape(1, -1), n_neighbors = 6)

657

In [23]:
df_locationUserRatingPivot.iloc[queryIndex,:].values.reshape(1,-1)

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,  0.,  0.,  5.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  5.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  6.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.]])

In [24]:
df_locationUserRatingPivot.iloc[queryIndex]

userID
254      0.000
2276     0.000
2766     0.000
2977     0.000
3363     0.000
          ...
274808   0.000
275970   0.000
277427   0.000
277639   0.000
278418   0.000
Name: The Surgeon, Length: 774, dtype: float64

In [26]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(df_locationUserRatingPivot.index[queryIndex]))
    else:
        print('{0}: {1} with distance {2}'.format(i, df_locationUserRatingPivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for The Surgeon:

1: The Mulberry Tree with distance 0.680724527860187
2: The Apprentice with distance 0.692977854823377
3: Beach House with distance 0.7252964887079045
4: The Jester with distance 0.7395623766658288
5: Mercy with distance 0.7413004757045465